@use './variables.module.scss' as *;

// CSS Reset (opcjonalnie)
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: $background-color;
    color: $text-color;
}

a {
    text-decoration: none;
    color: inherit;
}