// Kolory główne
$background-dark: #222831;
$background-muted: #31363F;
$text-light: #ECDFCC; // Jasny tekst
$text-muted: #9ca3af; // Przytłumiony tekst
$accent-color: #ff7f50; // Kolor akcentu, np. dla paska postępu
$padding: 1rem; // Uniwersalna wartość paddingu
$margin: 2rem; // Uniwersalna wartość marginesu

// Inne kolory
$box-shadow-color: rgba(0, 0, 0, 0.1);

// Rozmiary
$padding: 1rem;
$margin: 2rem;
$border-radius: 10px;