// variables.module.scss

$background-color: #1c1c1e;
$text-color: #e6e6e6;
$link-color: #3ac9c0;
$link-hover-color: #507375;
$button-bg: #3ac9c0;
$button-hover-bg: #507375;

$background-muted: rgba(0, 0, 0, 0.45);
$text-muted: #9ca3af;
$accent-color: #ff7f50;

$padding: 1rem;
$margin: 2rem;
$border-radius: 10px;