// Color variables
$background-color: #000000;
$text-color: #ffffff;
$link-color: #ffbd59;
$link-hover-color: #e6a54a;
$button-bg: #ffbd59;
$button-hover-bg: #e6a54a;

$background-muted: rgba(0, 0, 0, 0.3);
$text-muted: rgba(255, 255, 255, 0.7);
$accent-color: #ffbd59;

// Spacing variables
$padding: 1rem;
$margin: 2rem;
$border-radius: 12px;